<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="index.html :: css"/>
<head>
    <meta charset="UTF-8">
    <title th:text="${currentSpot.name}"></title>
</head>
<body>

<div th:insert="index.html :: menu"/>
<div class="spot">
    <h1 th:text="${currentSpot.name}"></h1>
    <h4 th:text="${currentSpot.location}"></h4>
    <h5 th:if="${currentSpot.official == true}"><strong>Vous consultez un spot officiel !</strong></h5>
    <p>Description :</p>
    <p th:text="${currentSpot.description}"></p>
    <p>Cotation : <span th:text="${currentSpot.cotation}"/> Crée par : <span th:text="${currentSpot.userAccount.login}"/>
    </p>

    <h2>Secteurs de ce spot</h2>
    <a th:if="${isConnected}" th:href="@{/addnewsector/{id}(id=${currentSpot.id})}">Ajouter un secteur</a>

    <ul class="list-group" th:each="sector : ${currentSectors}">
        <li>
            <span th:text="${sector.name}"/>
            <div th:if="${isConnected}">
                <a th:href="@{/editsector/{id}(id=${sector.id})}">Modifier</a>
                <a th:href="@{/deletesector/{id}(id=${sector.id})}">Supprimer</a>
                <a th:href="@{/addnewroute/{id}(id=${sector.id})}">Ajouter une route</a>
            </div>
        </li>
        <ul class="list-group" th:each="route : ${sector.routes}">
            <li><p><span th:text="${route.name}"/> <a th:if="${isConnected}" th:href="@{/deleteroute/{id}(id=${route.id})}">Supprimer</a></p></li>
            <li><p>Quantité de longueurs : <span th:text="${route.pitchQuantity}"/></p></li>
            </br>
        </ul>
    </ul>

    <h2>Espace commentaire</h2>
    <tr th:each="comment : ${comments}">
        <td><h4 th:text="${comment.userAccount.login}"></h4></td>
        <td><p th:text="${comment.content}"></p></td>
        <div th:if="${isConnected == true}">
            <td th:if="${currentUser == comment.userAccount || currentUser.admin == true}">
                <a th:href="@{/deletecomment/{idComment}(idComment=${comment.id})}">Supprimer</a>
            </td>
        </div>
    </tr>

    <div th:if="${isConnected == true}">
        <form th:action="@{/registernewcomment/{id}(id=${currentSpot.id})}" th:object="${comment}" method="post">
            <label for="comment">Votre commentaire</label><br/>
            <textarea id="comment" th:field="*{content}"></textarea>
            <input type="submit" value="Envoyer">
        </form>
    </div>
</div>
<div th:insert="index.html :: scripts"/>
</body>
</html>