<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/styleWeb.css}" >
<head>
    <meta charset="UTF-8">
    <title>Nouvelle route</title>
</head>
<body>
<div th:insert="index.html :: menu"/>
<form th:action="@{/registerroutesave/{id}(id=${currentSector.id})}" th:object="${route}" method="post">

    <label for="titre">Nom :</label>
    <input type="text" id="titre" th:field="*{name}">
    <br/>

    <label for="pitchQuantity">Nombre de longueur(s) :</label>
    <input type="number" th:min="0" id="pitchQuantity" th:field="*{pitchQuantity}">
    <br/>

    <input type="submit" value="Enregistrer">

</form>

</body>
</html>