<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/styleWeb.css}" >
<head>
    <meta charset="UTF-8">
    <title>Nouveau secteur</title>
</head>
<body>
<div th:insert="index.html :: menu"/>
<form th:action="@{/registersectorsave/{id}(id=${currentSpot.id})}" th:object="${sector}" method="post">

    <label for="titre">Nom :</label>
    <input type="text" id="titre" th:field="*{name}">
    <br/>

    <input type="submit" value="Enregistrer"> <form/>

</form>
</body>
</html>