<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="index.html :: css"/>
<head>
    <meta charset="UTF-8">
    <title>Nouveau secteur</title>
</head>
<body>
<div th:insert="index.html :: menu"/>
<form th:action="@{/updatesector/{idSpot}/{idSector}(idSpot=${currentSector.climbingSpot.id}, idSector=${currentSector.id})}" th:object="${currentSector}" method="post">

    <label for="titre">Nom :</label>
    <input type="text" id="titre" th:field="*{name}">
    <br/>

    <input type="submit" value="Enregistrer"> <form/>

</form>
<div th:insert="index.html :: scripts"/>
</body>
</html>