<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/styleWeb.css" />
<head>
    <meta charset="UTF-8">
    <title>Test de lecture de liste</title>
</head>
<body>
<h1>Liste des topos</h1>
<table>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Disponible ?</th>
    </tr>
    <tr th:each="topo : ${topos}">
        <td th:text="${topo.name}"></td>
        <td th:text="${topo.description}"></td>
        <td>
            <span th:if="${topo.available}">Oui !</span>
            <span th:if="${not topo.available}">Non...</span>
        </td>
        <td>
            <div th:switch="${isConnected}">
                <p th:case="true"><a th:href="@{/asktopo/{id}(id=${topo.id})}">Demander le topo</a></p>
                <span th:case="false"></span>
            </div>
        </td>
    </tr>
</table>
</body>
</html>