<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../static/css/styleWeb.css">
<head>
    <meta charset="UTF-8">
    <title>Modifier le topo</title>
</head>
<body>
<header>
    <h1>Bienvenue sur HappyClimbing !</h1>
    <h2>Projet OpenClassrooms par Antoine Domergue</h2>
</header>
<nav>
    <h3><a href="/">Page d'acceuil</a></h3>
    <h3><a href="/alltopos">Liste des topos</a></h3>
    <div>
        <h3><a href="/register">S'inscrire</a></h3>
        <h3><a href="/userinterface">Mon espace perso</a></h3>
    </div>
</nav>
<form th:action="@{/updatetopo/{id}(id=${currentTopo.id})}" th:object="${currentTopo}" method="post">

    <label for="titre">Titre :</label>
    <input type="text" id="titre" th:field="*{name}">
    <br/>

    <label for="description">Description :</label>
    <textarea id="description" th:field="*{description}"/>
    <br/>

    <label for="location">Location :</label>
    <input type="text" id="location" th:field="*{location}">
    <br/>

    <label for="disponibilité">Disponible ? :</label>
    <input type="checkbox" id="disponibilité" th:field="*{available}">
    <br/>

    <input type="submit" value="S'inscrire">

</form>
</body>
</html>