<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test de lecture de liste</title>
</head>
<body>
<h1>Liste des utilisateurs</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Adresse e-mail</th>
        <th>Mot de passe</th>
    </tr>
    <tr th:each="useraccount : ${useraccounts}">
        <td th:text="${useraccount.id}">1</td>
        <td th:text="${useraccount.email}">adomergue@hotmail.fr</td>
        <td th:text="${useraccount.password}">12345</td>
    </tr>
</table>
</body>
</html>