<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/styleWeb.css" />
<head>
    <meta charset="UTF-8">
    <title>HappyClimbing | Connexion</title>
</head>
<body>
<header>
    <h1>Bienvenue sur HappyClimbing !</h1>
    <h2>Projet OpenClassrooms par Antoine Domergue</h2>
</header>
<nav>
    <h3><a href="/">Page d'acceuil</a></h3>
    <h3><a href="/alltopos">Liste des topos</a></h3>
    <div>
        <h3><a href="/register">S'inscrire</a></h3>
        <h3><a href="/userinterface">Mon espace perso</a></h3>
    </div>
</nav>
<h1>Se connecter</h1>
<div th:if="${param.error}">
    Le pseudo et le mot de pass sont invalides.</div>
<div th:if="${param.logout}">
    Déconnexion réussie.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Pseudo"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Mot de passe"/>
    </div>
    <input type="submit" value="Se connecter" />
</form>
</body>
</html>