<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../static/css/styleWeb.css">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<header>
    <h1>Bienvenue sur HappyClimbing !</h1>
    <h2>Projet OpenClassrooms par Antoine Domergue</h2>
</header>
<nav>
    <h3><a href="/">Page d'acceuil</a></h3>
    <h3><a href="/alltopos">Liste des topos</a></h3>
    <div>
        <h3><a href="/register">S'inscrire</a></h3>
        <h3><a href="/userinterface">Mon espace perso</a></h3>
    </div>
</nav>
<form th:action="@{/registersave}" th:object="${userAccount}" method="post">
    Nom :
    <input type="text" th:field="*{lastName}">
    <br/>

    Prénom :
    <input type="text" th:field="*{firstName}">
    <br/>

    E-mail :
    <input type="email" th:field="*{email}">
    <br/>

    Login :
    <input type="text" th:field="*{login}">
    <br/>

    Password :
    <input type="password" th:field="*{password}">
    <br/>

    <input type="submit" value="S'inscrire">


</form>
</body>
</html>